.header-container {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header-container > a {
    text-decoration: none;
    color: black;
}

.header-container > h1 {
    font-size: 1.8em;
}

.header-button {
    /* width: 15vw; */
    height: 10vh;
    font-size: 1.5em;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header-button:hover {
    color: white;
    font-weight: bold;  
}

.home-button {
    display: flex;
    align-items: center;
}

.home-button > h1 {
    font-size: 1.8em;
    margin-left: .5vw;
}

.header-image {
    margin-left: .5vw;
    height: 5vh;
    filter: invert(65%) sepia(0%) saturate(1537%) hue-rotate(254deg) brightness(95%) contrast(89%);
}
.header-image:hover {
    filter: invert(85%) sepia(95%) saturate(2%) hue-rotate(314deg) brightness(105%) contrast(100%);
}

.active {
    filter: invert(85%) sepia(95%) saturate(2%) hue-rotate(314deg) brightness(105%) contrast(100%);
}

.trophy-image {
    margin-right: .5vw;
}

.header-right {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}