
.artist-button {
    width: 20vw;
    height: 8vw;
    text-align: center;
    /* margin: 2vh; */
    background-size: cover;
    background-position: center;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    transition: all .2s;
    cursor: pointer;
}

.artist-button:active {
    transform: translate(0, 5px);
    box-shadow: 0 3px 0px rgb(8, 110, 110);
    transition: all .2s;
    background-color: rgb(8, 159, 159);
   }

.artist-image {
    margin: 0;
    padding: 0;
}