.artist-button {
    width: 20vw;
    height: 8vh;
    text-align: center;
    margin: 2vh;
}

.artist-link {
    background-color: aqua;
    width: 20vw;
    height: 8vh;
    text-align: center;
    margin: 2vh;
}