
.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goof-comic {
    margin-top: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
