.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: .5vw;
}

.search-form {
    display: flex;
    justify-content: center;
    border: solid #242424 3px;
    border-radius: 20px;
    width: 20vw;
    overflow: hidden;
    aspect-ratio: 6/1;
    font-size: 3vh;
}

.search-form:has(.search-input:focus){
    border: solid white 3px;
}

.search-input {
    width: 80%;
    background-color: #242424;
    color: white;
    border: none;
    font-size: x-large;
}

.search-button {
    width: 20%;
    height: 100%;
    background-color: #242424;
    border: none;
    font-size: x-large;
    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.magnifying-glass-image {
    filter: invert(65%) sepia(0%) saturate(1537%) hue-rotate(254deg) brightness(95%) contrast(89%);
    width: 40%;
}

.magnifying-glass-image:hover {
    filter: invert(85%) sepia(95%) saturate(2%) hue-rotate(314deg) brightness(105%) contrast(100%);
}