.search-form {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    font-size: 3vh;
}

.search-input {
    width: 30vw;
}

.search-button {
    width: 10vw;
    height: 100%;
}